<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjf.mapper.ExpressMapper">
    <select id="getExpressByAdminId" resultType="express" parameterType="express">
    select * from express where 1=1
        <if test="expressFromId != null">
            <choose>
                <when test="flag == 0">
                    AND expressFromId = #{expressFromId} or expressToId = #{expressToId}
                </when>
                <when test="flag == 1">
                    AND expressFromId = #{expressFromId}
                </when>
                <when test="flag == 2">
                    AND expressToId = #{expressToId}
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </if>
        <if test="expressType != '全部'.toString()">
            AND expressType = #{expressType}
        </if>
        <if test="pageIndex != null">
            limit #{pageIndex} , #{pageSize}
        </if>
  </select>
    <select id="getExpressByExpressCode" resultType="express" parameterType="express">
        select * from express where expressCode = #{expressCode}

    </select>
    <insert id="insertExpress" parameterType="express">
        insert into express(expressCode, goodId, expressFrom,expressTo,expressTime,expressType,expressFromId,expressToId,expressPlace)
        values(#{expressCode}, #{goodId}, #{expressFrom}, #{expressTo}, #{expressTime}, #{expressType}, #{expressFromId}, #{expressToId}, #{expressPlace})
    </insert>

    <update id="updateExpress" parameterType="express">
        update express
        <set>
            <if test="goodId != null">goodId=#{goodId},</if>
            <if test="expressFrom != null">expressFrom=#{expressFrom},</if>
            <if test="expressTo != null">expressTo=#{expressTo},</if>
            <if test="expressTime != null">expressTime=#{expressTime},</if>
            <if test="expressType != null">expressType=#{expressType},</if>
            <if test="expressFromId != null">expressFromId=#{expressFromId},</if>
            <if test="expressToId != null">expressToId=#{expressToId},</if>
            <if test="expressPlace != null">expressPlace=#{expressPlace}</if>
        </set>
        where expressId=#{expressId}
    </update>
</mapper>