<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjf.mapper.GoolMapper">
    <select id="getGool" resultType="gool" parameterType="int">
    select * from gool where 1=1
        <if test="goolId != null">
            and goolId = #{goolId}
        </if>
        <if test="goolName != null">
            and goolName=#{goolName}
        </if>
        <if test="goolType != null">
            and goolType=#{goolType}
        </if>
        <if test="goolWeight != null">
            and goolWeight=#{goolWeight}
        </if>
        limit #{pageIndex} , #{pageSize}

    </select>
    <insert id="insertGool" parameterType="gool" keyProperty="goolId" useGeneratedKeys="true">
        insert into gool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goolId != null">
                goolId,
            </if>
            <if test="goolName != null">
                goolName,
            </if>
            <if test="goolType != null">
                goolType,
            </if>
            <if test="goolWeight != null">
                goolWeight,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goolId != null">
                #{goolId},
            </if>
            <if test="goolName != null">
                #{goolName},
            </if>
            <if test="goolType != null">
                #{goolType},
            </if>
            <if test="goolWeight != null">
                #{goolWeight},
            </if>
        </trim>
    </insert>
    <update id="updateGool" parameterType="gool">
        update gool
        <set>
            <if test="goolName != null">goolName=#{goolName},</if>
            <if test="goolType != null">goolType=#{goolType},</if>
            <if test="goolWeight != null">goolWeight=#{goolWeight},</if>
        </set>
        where goolId=#{goolId}
    </update>
</mapper>